SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

AWS_S3_BUCKET=
AWS_S3_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
KAKAO_REST_API_KEY=
KAKAO_NATIVE_APP_KEY=
KAKAO_ADMIN_KEY=

JWT_SECRET=
OAUTH_TOKEN_ENCRYPTION_KEY=
